header
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 44px;
  line-height: 44px;
  z-index: 99;
  background: rgba(255,255,255,.8);
  color: #7e8c8d;
  font-family: cursive;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647)