.app
  width: 100%
  height: 100%
  color: #DDDDDD
  position: relative
  .container
    margin-top: 44px;
    margin-bottom: 40px;
    .img-response
      width: 100%
      max-width: 100%
  .loading-container
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    top: 50%
    transform: translateY(-50%)
    


    